{% include 'navbar.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">Acerca de nuestra tienda</h1>
        <p>En nuestra tienda online, nos esforzamos por ofrecer a nuestros clientes la mejor experiencia de compra posible. Ofrecemos una amplia variedad de productos de alta calidad, desde ropa y accesorios hasta electrónica y productos para el hogar.</p>
        <p>Nuestro objetivo es proporcionar a nuestros clientes un servicio excepcional y una experiencia de compra sin complicaciones. Siempre estamos buscando maneras de mejorar y agregar más valor a la experiencia de nuestros clientes.</p>
        <p>Si tienes alguna pregunta o inquietud, no dudes en ponerte en contacto con nuestro equipo de soporte al cliente. Estamos aquí para ayudarte en todo lo que podamos.</p>
      </div>
    </div>
  </div>
{% endblock %}
