{% include 'navbar.html' %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <h2 class="text-center mb-4">Contáctanos</h2>

      {% block contenido %}
      <form action="{% url 'contacto' %}" method="POST">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        {% for field in form %}
        <div class="fieldWrapper">
          {{ field.errors }}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <small style="display: block;">{{ field.help_text }}</small>
          {% endif %}
          {% if field.errors %}
          <ul>

            {% for error in field.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
          </ul>
            {% endif %}
        </div>
      {% endfor %}

        <br>
        <input type="submit" class="btn btn-primary">
      </form>
      {% endblock %}
    </div>
  </div>
</div>